<div class="new-hunt-form">
  <div align="left" class="col-md-6 col-md-offset-3">
    <h3>Create a hunt</h3>
      <%= bootstrap_form_tag url: hunts_path, method: :post do |f| %>
      <%= f.text_field :name, required: true %>
      <%= f.text_field :description, required: true %>
      <%= f.hidden_field :user_id %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
